<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Enter your email" />

    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
    <div class="error">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
    </div>
    }


    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Enter your password" />

    @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
    <div class="error">
      <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
      <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum 6 characters.</small>
    </div>
    }


    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <div class="signup-section">
    <p>Don't have an account?</p>
    <button class="signup-btn" (click)="goToSignup()">Sign Up</button>
  </div>
</div>