
.user-section {
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #f9f9f9;
  border: 1px solid #ddd;
}

.user-header {
  background: #f2f2f2;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.user-header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-header img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}


.user-content {
  padding: 12px 16px;
  background: white;
  border-top: 1px solid #ccc;
  display: flex;
  gap: 12px;
}


.assign-btn,
.view-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.assign-btn:disabled,
.view-btn:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}


.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 430px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}


.large-modal {
  width: 700px;
  max-height: 90vh;
  overflow-y: auto;
}


.modal h2 {
  margin: 0 0 16px 0;
  font-size: 20px;
  font-weight: bold;
}

.modal h3 {
  margin: 20px 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.modal label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}


.modal select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}


.modal ul {
  padding-left: 20px;
  margin: 0;
}

.modal li {
  margin-bottom: 8px;
  line-height: 1.6;
}


.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}

.modal-actions button {
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}


.save-btn,
.approve-btn,
.save-comment-btn {
  background-color: #28a745;
}

.save-btn:hover,
.approve-btn:hover,
.save-comment-btn:hover {
  background-color: #218838;
}

.cancel-btn,
.reject-btn {
  background-color: #dc3545;
}

.cancel-btn:hover,
.reject-btn:hover {
  background-color: #c82333;
}

.comment-btn {
  background-color: #ffc107;
  color: black;
}


button:disabled {
  background-color: #aaa !important;
  cursor: not-allowed;
}

.comment-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.comment-box textarea {
  resize: vertical;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.saved-comment {
  background-color: #f5f5f5;
  border-left: 4px solid #007acc;
  padding: 0.5rem;
  margin: 0.75rem 0;
}

.save-comment-btn{
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

