@if (errorMessage) {
  <div class="alert alert-error">
    <strong>Error:</strong> {{ errorMessage }}
    <button type="button" class="close-btn" (click)="clearMessages()">&times;</button>
  </div>
  }

  @if (successMessage) {
  <div class="alert alert-success">
    <strong>Success:</strong> {{ successMessage }}
    <button type="button" class="close-btn" (click)="clearMessages()">&times;</button>
  </div>
  }

@for (user of employees; track user.id) {
<div class="user-section">
  <div class="user-header" (click)="toggleUser(user.id)">
    <div class="user-header-info">
      <img [src]="getImageUrlByUserId(user)" alt="User" />
      <strong>{{ user.name }}</strong>
    </div>
    <span>{{ expandedUsers[user.id] ? '▲' : '▼' }}</span>
  </div>

  @if (expandedUsers[user.id]) {
  <div class="user-content">
    <button class="assign-btn" [disabled]="enrollmentStatus[user.id] === true" (click)="openAssignModal(user.id)">
      Assign Package
    </button>
    <button class="view-btn" [disabled]="userPackages[user.id]?.status === 'UNDER_REVIEW'"
      (click)="openViewModal(user.id)">
      View Progress
    </button>
    <button class="view-btn" [disabled]="userPackages[user.id]?.status !== 'UNDER_REVIEW'"
      (click)="openReviewModal(user.id)">
      View Submission
    </button>
  </div>
  }

  @if (assigningUserId === user.id) {
  <div class="modal-overlay">
    <div class="modal">
      <h2>Assign Career Package</h2>
      <label for="templateSelect">Select Package:</label>
      <select id="templateSelect" [(ngModel)]="selectedTemplateId">
        @for (template of careerPackageTemplates; track template.id) {
        <option [value]="template.id">{{ template.title }}</option>
        }
      </select>
      <div class="modal-actions">
        <button class="save-btn" (click)="confirmAssign()">Confirm</button>
        <button class="cancel-btn" (click)="closeAssignModal()">Cancel</button>
      </div>
    </div>
  </div>
  }

  @if (reviewingUserId === user.id) {
  <div class="modal-overlay">
    <div class="modal large-modal">
      <h2>Career Package Review for {{ user.name }}</h2>

      @for (section of userPackages[user.id].sectionSubmissions; track section.id) {
      <div class="section-block">
        <h3>{{ getSectionTitle(section.sectionTemplateId) }}</h3>
        <ul>
          @for (field of section.fieldSubmissions; track field.fieldTemplateId) {
          <li>
            <strong>{{ getFieldLabel(section.sectionTemplateId,field.fieldTemplateId) }}:</strong> {{ field.value }}
          </li>
          }
        </ul>
      </div>
      }
      @if (showCommentBox[user.id]) {
      <div class="comment-box">
        <textarea [(ngModel)]="commentDraft[user.id]" rows="4" placeholder="Write your comment here..."></textarea>
        <button class="save-comment-btn" (click)="submitComment(user.id)">Submit Comment</button>
      </div>
      }
      @if (savedComments[user.id]) {
      <div class="saved-comment">
        <strong>Comment:</strong>
        <p>{{ savedComments[user.id] }}</p>
      </div>
      }

      <div class="modal-actions">
        <button class="comment-btn" (click)="addComment(user.id)">Add Comment</button>
        <button class="approve-btn" (click)="approveSubmission(user.id)">Approve</button>
        <button class="reject-btn" (click)="rejectSubmission(user.id)">Reject</button>
        <button class="cancel-btn" (click)="closeReviewModal()">Close</button>
      </div>
    </div>
  </div>
  }

  @if (viewingUserId === user.id) {
   <div class="modal-overlay">
    <div class="modal large-modal">
      <h2>Career Package Review for {{ user.name }}</h2>

      @for (section of userPackages[user.id].sectionSubmissions; track section.id) {
      <div class="section-block">
        <h3>{{ getSectionTitle(section.sectionTemplateId) }}</h3>
        <ul>
          @for (field of section.fieldSubmissions; track field.fieldTemplateId) {
          <li>
            <strong>{{ getFieldLabel(section.sectionTemplateId,field.fieldTemplateId) }}:</strong> {{ field.value }}
          </li>
          }
        </ul>
      </div>
      }
      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeViewModal()">Close</button>
      </div>

    </div>
  </div>
  }


</div>
}