<form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>
</form>