<div class="admin-container">
  
  <aside class="sidebar">
    
    <div class="admin-info">
      <img src="/user-default-logo.webp" alt="Admin" />
      <span class="admin-name">{{ adminName }}</span>
    </div>

    
    <nav class="admin-nav">
      <button routerLink="user-management" routerLinkActive="active">User Management</button>
      <button routerLink="career-package-management" routerLinkActive="active">Career Package</button>
      <button routerLink="learning-management" routerLinkActive="active">Learning Management</button>
      <button routerLink="dashboard-management" routerLinkActive="active">Dashboard Management</button>
    </nav>
  </aside>

  
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>
