.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-card h2 {
    margin: 0;
}


.form-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
}


.step-content {
    padding: 12px 0px;
    border-radius: 8px;
    margin-bottom: 16px;
}

button[mat-button] {
    background-color: #8c62b1 !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 10px 24px !important;
    margin-top: 0 !important;
    margin-right: 13px !important;
}

button[mat-button]:disabled {
    background-color: #ccc !important;
    color: white !important;
}

button:not(:disabled):hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}


.login-section {
    text-align: center;
    margin-top: 0;
}

.login-btn {
    background-color: #8c62b1;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;
}

/*The whole stepper component*/
.mat-stepper-horizontal {
    background-color: #e0dee4 !important;
    padding: 1rem 2rem !important;
    border-radius: 12px !important;
    width: 100% !important;
    max-width: 600px !important;
    margin: 2rem auto !important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) !important;
    font-family: Arial, sans-serif !important;
    box-sizing: border-box !important;

}

/* The header of the stepper (the part that contains the steps) */
.mat-stepper-horizontal-header {
    background-color: #DADADA !important;
}

/* The label (personal info, credentials, etc.) in the header of the stepper */
.mat-step-label {
    color: black !important;
}

/* The icon (1,2,3) beside the label in the header */
.mat-step-icon-selected {
    background-color: #8c62b1 !important;
}

/* The color of the number inside the icon */
.mat-step-icon-selected span {
    color: white;
}

/* .mat-mdc-button:not(:disabled) {
    color: white !important;
} */


@media (max-width: 480px) {
    .form-title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .mat-stepper-label-position-bottom .mat-step-label {
        font-size: 12px;
    }

    .mat-horizontal-content-container {
        padding: 0 !important;
    }

    .mat-step-header {
        padding: 4px 6px !important;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
    }
}